#root {
  /* max-width: 1280px; */
  width: 100vw;
  height: 100%;
  inset: 0;
  padding: 0;
  margin: 0;
  background-color: #e8e8e6;

  --background: #e8e8e6;
  --backgroundText: #e7e7e6;
  --primary: #9d3dc8;
  --textColor: #ffffff;
  --primaryDark: #8e38b5;
}

body {
  inset: 0;
  padding: 0;
  margin: 0;
  overflow: hidden;
}

header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 5px 10%;
}

nav {
  display: flex;
  gap: 10px;
  color: var(--textColor);
}

p {
  font-family: "inter", sans-serif;
}

h1 {
  font-family: "Great Vibes", cursive;
}

.react-bubbly-transitions__bubbly-link {
  font-family: "Libre Baskerville", serif;
  font-weight: 600;
  letter-spacing: 1px;
  transition-duration: 0.4s;
}
.react-bubbly-transitions__bubbly-link:hover {
  transform: scale(1.1, 1.1);
}

@keyframes in-keyframes {
  0% {
    opacity: 0;
    translate: 0 100%;
  }
  100% {
    opacity: 1;
    translate: 0 0;
  }
}

.animate-in {
  animation: in-keyframes 0.5s both;
}
