.headerNav {
  background-color: var(--primary);
  z-index: 2;
}

.menu {
  display: none;
}

@media screen and (max-width: 605px) {
  .navbar {
    display: none;
  }
  .menu {
    display: inline-block;
  }
}
