.headerNav {
  background-color: var(--primary);
  z-index: 2;
}

.menu {
  display: none;
}

h1 {
  font-size: 2rem;
}

@media screen and (max-width: 650px) {
  .navbar {
    display: none;
  }
  .menu {
    display: inline-block;
  }
}

@media screen and (max-width: 450px) {
  h1 {
    font-size: 1.5rem;
  }
}
